<nav class="main-nav">
  <div class="nav-container">
      <div class="logo" routerLink="/">
          <mat-icon class="logo-icon">home_work</mat-icon>
          <div class="logo-text-group">
            <span class="brand-text">
              <span class="brand-main">Easy</span><span class="brand-accent">Apply</span></span>
            <span class="slogan">Search smarter. Apply faster.</span>
          </div>
      </div>

    <span class="spacer"></span>

    <div class="nav-links">
      <a routerLink="/listings"
         class="nav-item"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Home</a>

      <a routerLink="/check-status"
         class="nav-item"
         routerLinkActive="active">Check Status</a>

      @if ((authService.isLoggedIn$ | async) === true) {
      <div class="auth-group">
        <a routerLink="/login"
           class="login-link"
           routerLinkActive="active">Login</a>

        <button mat-flat-button
                class="register-btn"
                routerLink="/register"
                routerLinkActive="active">
          Register
        </button>
      </div>
      }

      @if ((authService.isLoggedIn$ | async) === true) {
      <button mat-icon-button routerLink="/user-dashboard" matTooltip="My Account">
        <mat-icon>account_circle</mat-icon>
      </button>
      <div class="auth-group">
        <button mat-stroked-button (click)="authService.logout()">
          <mat-icon>logout</mat-icon> Logout
        </button>
      </div>
      }
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
